
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    color: white;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  h1 {

    color: white;
  }
  .container {
    max-width: 1130px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  .header {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/netflix_codigos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 30% 45%;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}

main{    
    width: 100%; 
    font-size: 30px;
    color: rgb(0, 0, 0);     
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-direction:column;

}

header{
    width: 100%;
    margin-bottom: 20px; 
}

#footerConteiner{
    margin-top: 20px; 
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: black;
    color: white;
    align-self: flex-start;
    padding: 8px 18px;
    text-decoration: none;
    border-radius: 3px;
  }
  
  
  .main {
    padding-top: 4rem;
    height: 785px;
    background: url("../img/bg.jpg") center;
    display: flex;
    align-items: center;

}

.principal{    
    background-color: #000000be;
    width: 90%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding-bottom:20px;
    
}

.error{
    
    color:yellow;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    letter-spacing: 1.5px;
    margin: 0 auto;
    align-self: center;
    
}

#inputConteiner{
    
    background-color: #000000d1;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 80%;
    height: auto;

}

.labelCadastro{
    display: flex;
    justify-content: flex-start;
    margin: 0px 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    flex-direction: row;
}
 


.inputCadastro{

    margin-left: 20px;
  }
  
  .form-cta button:hover {
    background: #f40612;
  }
  
  .main p {
    margin-top: 40px;
    font-size: 19px;
  }
  
  .gradient {
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  
  .section {
    background: black;
    padding: 3rem 0;
    border-top: 8px solid #222;
  }
  
  section h1 {
    font-size: 50px;
    margin-bottom: 16px;
  }
  
  .section p {
    font-size: 26px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    align-items: center;
  }
  
  .img-tv {
    position: relative;
  }
  
  .img-tv img {
    position: relative;
    z-index: 1;
  }
  
  .video-tv {
    width: 100%;
    height: 50px;

    display: flex;
    align-content: center;
    justify-content: center;
}

#btnCadastrar {

    font-size: 25px;
    width: 20%;    
    border-radius: 25px;
    background-color: red;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.error{

    color:yellow;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
    font-size: 45px;
    letter-spacing: 1.5px; 
}   
        
.pagina{
    display: flex;
    margin-top: 20px;         
    justify-content: space-around;
    align-items: baseline;
    background-color: #000000d1;
    width: 110px;
}

i{
    color:yellow;
    font-size: 30px; 
}

#numPagina{
    font-size: 20px;
    width: 50px;
    text-align: center;

}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.cardCustom{
    margin-top: 20px;
    width: 25%;    
    display: flex;    
    flex-direction: column;     
    align-items: center;   
    padding: 0px 5px;
    height: 500px;   
   
}

.cardCustom img{
    width: 75%;
    min-width: 80%;
    max-height: max-content;
    min-height: 80%;
    margin-top: 15px;
    transition-timing-function: ease;
    transition-duration: 1.2ms;
    transition-delay: .5ms;   

}



.cardCustom small{    
    color: yellow;
    font-size: 12px;  
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;  

}
#loader{
    margin: 0 auto;

}

.menulink:hover{
    cursor: pointer;

}

.divBotao{
    justify-content: space-around;
    display: flex;
    width: 60%
    
}

.divBotao i{
    color:yellow;
    font-size: 25px;
    max-height: 100%;

}

.letraEspacamento{
    letter-spacing: normal;
    color: rgb(0, 0, 0);

}

.sinopse{
    color:rgb(0, 0, 0);
}

.fundo{
    background-color: rgba(0, 0, 0, 0.541);

}

@media (max-width: 800px){

    .cardCustom{
        width: 50%;
        margin: 0 auto;
    }

    .principal{
        align-items: center;
    }

    .cardCustom img{
        width: 80%;
       
    }
  
  
  }

  @media (max-width: 600px){

    .cardCustom{
        width: 80%;    
        margin: 0 auto;
    }

    .principal{
        align-items: center;
    }
  
    .cardCustom img{
        width: 90%;     
    
    }
  
  }
