body {

    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img {

    height: 45px;
    width: 167px;
}

.header {

    padding: 20px 50px;
    position: relative;
    z-index: 10;

}

.topo {

    background-image:url(./netflix_codigos.jpg);
    height: 100vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.topo::before {

content: '';
background: (0 , 0, 0, .5);
width: 100%;
height: 100%;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;

}

.loginBody {

    padding: 50px;
    z-index: 90;    
    height: 100%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.932);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.13);
    width: 100%;
}

.loginBodySenha {

    padding: 50px;
    z-index: 90;    
    height: 500px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.932);
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.13);
    width: 100%;
}

.loginBody h2 {
    margin-bottom: 15px;
    font-size: 32px;
    color: #fff;
    margin-top: 0;

}

.loginBody input {

    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding: 5px;
    box-sizing: border-box;
    outline: none;

}

.inputTopo {
    text-align: center;
    margin-bottom: 25px;

}

.loginBody button {

    height: 50px;
    width: 100%;
    color: #fff;
    background: yellow;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid yellow;

}

.suporte {

    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    font-size: 12px;

}

.suporte input {

    width: 15px;
    height: 15px;
}

.lembreDeMim {

    display: flex;
    align-items: center;

}

.lembreDeMim span {

    margin-right: 10px;
    height: 25px;
}

.loginFace {
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.loginFace img {

    width: 20px;
    height: 20px;

}

.loginFace span {

    margin-right: 10px;
    font-size: 13px;

}

.loginFace span a {

    text-decoration: none;
    color: #737373;

}

.signUp {

    color: #737373;
    font-size: 16px;

}

.signUp a {

    color: #fff;
    font-size: 16px;
    text-decoration: none;

}

.termos {
    
    color: #737373;
    font-size: 13px;
}

.termos a {

    text-decoration: none;
    color : #0071eb
} 


.modal-content {   
    background-color: rgba(255, 255, 255, 0);

  }

  .modalSair{
    background-color: rgb(0, 0, 0);
    border: solid 2px rgb(0, 0, 0);
  }

  .modal-title{
      color: yellow;
  }

   .botaoDrop{
    background-color:rgba(255, 255, 255, 0) !important;

  }

  .dpColor{
        background-color: rgba(0, 0, 0, 0.267);
        color: yellow;
        border: solid 2px rgba(255, 255, 0, 0.363);
  }

  .dpColor button{
    
    color: yellow;
}

