.mensagens-erros{
    display: none;
    font-size: 10px;
       
}
.verificar{
    display: none;
    font: 10px;

}

.cadastroTransp {        
    display:none;
    padding: 50px;
    z-index: 90;    
    height: 100%;
    margin-top: 130px;
    background: rgba(0, 0, 0, 0.932);   
    box-sizing: border-box;    
    width: 100%;    

    
  }

 .cadastroTransparente{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    
    border: 1px white; 
    border-radius: 10px;    

 }

.inputCadastro{

    margin: 10px 100px 30px;
    border-radius: 3px;    
    display: flex;
    height: 50px;   
    width: 100%;
    color: #fff;
    background: #333;
    border: 1px solid #333;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}


.txtLabel{
    width: 16%;
    display: flex;
    justify-content: flex-end;

}

.txtInput{
  display: flex;
    width: 100%;
    
}  


.confirmaSenha{
    display: flex;
    flex-direction: column;

}

#form-conteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    
  }  

label{
     color: rgb(255, 255, 255);
     display: flex;
    
  }  

  #btnCadastrar{
      
    margin: 0 auto;
    width: 35%;
    background-color: #f4d11e ;
    height: 50px;       
    color: #2c2c2c;
    font-weight: bold;
    border: 1px solid #2c2c2c;
    border-radius: 4px;
  }

  .cadastroSec{
    color: #f4d11e ;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

h2.cadastroSec {
    font-size: 40px;
}

.casdastrorealizado{
    display: none;
}

.recuperasenha{
    display: none;

}

.naocadastrado{
    display: none;
}

#voltarHome{
    margin: 0 90%;
    width: 10%;
    background-color: #2c2c2c ;
    height: 50px;       
    color: white ;
    font-weight: bold;
    border-radius: 4px;
}

#voltarHome:hover {

    background-color: #f4d11e ;
    color: #2c2c2c;
    transition: 0.5s;
}

.recSenha{
    margin-top: 130px;
    height: 500px;
    padding: 0px 30px;
    display: none;

}

.loginBoxx{
    width: 100% !important;
}


  @media (max-width: 600px){

    label{
        color: rgb(255, 255, 255);
        display: flex;
        font-size: 10px;       
        white-space: nowrap;
     }  

     .txtLabel{
        width: 50%;
        display: flex;
        justify-content: flex-end;    
    }

    #form-conteiner{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .cadastroTransp {        
        padding:10px;
        width: 100%;            

      }

      #voltarHome{
        margin: 0 auto;
        width: 30%;
       
    }

    .recSenha{
        margin-top: 100px;
    
    }


  }

   /*------INPUTS---------*/
  
   input#nome, input#rua, input#complemento {

    width: 50%;
    height: 40px;
  }

  input#email {

    width: 30%;
    height: 40px;
  }

  input#senha, input#confirmacaoSenha {

    margin-bottom: 0;
  }

  input#senha, input#confirmacaoSenha,
  input#bairro, input#cidade
  {

    width: 25%;
    height: 40px;
  }

  input#numero, input#uf {
    width: 100px;
    height: 40px;
  }
  input#rg, input#data, input#cep {

    width: 25%;
    height: 40px;

  }

  @media (max-width: 600px){

    
  
    legend {

        
        display: flex;
        font-size: 10px;       
        white-space: nowrap;
    }


  }